@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto:ital,wght@0,300;1,400&display=swap');

* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #C8D6FC;
}


.btns {
  outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b74555;
    border-radius: 8px;
    height: 150px;
}

