@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto:ital,wght@0,300;1,400&display=swap');

* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #FCEEC8; /* C8D6FC; */

}


